body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 500;
}

main {
    padding: 20px;
}

.guide {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-weight: 500;
}

ol {
    padding-left: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #555;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.options {
    display: flex;
    justify-content: space-between;
}

.option {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 5px;
}

.option:last-child {
    margin-right: 0;
}

.option:hover {
    background-color: #f0f0f0;
}

.option.selected {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.result {
margin-top: 20px;
font-size: 1.5em;
color: #333;
}

footer {
text-align: center;
padding: 20px;
background-color: #007bff;
color: #fff;
font-size: 0.9em;
}
header {
    position: relative;
    padding: 10px 20px;
    background-color: #007bff; /* Đảm bảo màu nền */
    border-bottom: 2px solid #e9ecef;
    display: flex;
    align-items: center;
}

.home-icon {
    position: absolute;
    left: 20px; /* Đặt biểu tượng ở góc trái */
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: #1b334c;
    text-decoration: none;
}

.home-icon:hover {
    color: #819fc0;
}

header h1 {
    flex: 1; /* Cho phép tiêu đề chiếm không gian còn lại */
    text-align: center; /* Căn giữa tiêu đề */
    margin: 0; /* Xóa margin mặc định */
    color: #333; /* Màu chữ tiêu đề */
}